@model IEnumerable<BigSchoolRemake.Models.Course>
@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mine</h2>
<ul class="course">
    @foreach (var course in Model)
    {
        <li>
            <div class=date>
                <div class="month">
                    @course.datetime.ToString("MM")
                </div>
                <div class="day">
                    @course.datetime.ToString("dd")
                </div>
            </div>
            <div class="details">
                <span class="lecurer">
                    @course.Lecturer.Name
                </span>
                <span class="category">
                    @course.Category.Name
                </span>
            </div>
            <div class="action">
                <a href="@Url.Action("Edit", "Courses", new { id = course.id })">Edit</a>
                |
                <a href="#" class=" js-cancel-course" data-course-id="@course.id">Cancel</a>
            </div>
        </li>
    }
</ul>
@section scripts
    {
        <script>
            $(document).ready(function () {
                $(".js-cancel-course").click(function (e) {
                    e.preventDefault();
                    var link = $(e.target);
                    bootbox.confirm("Are u sure to Cancel?",
                        function () {
                            $.ajax({
                                url: "/Api/Courses" + link.attr("data-course-id"),
                                method: "DELETE"
                            })
                                .done(function () {
                                    link.parents("li").fadeOut(function () {
                                        $(this).remove();
                                    });
                                })
                                .fail(function () {
                                    alert("something failed!");
                                });
                        });
                });
            });
        </script>
    }
